<div class="content">
    <div class="container mt-5">
        <h2>Course Scores Details of Students</h2>
        <table class=" table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Batch</th>
                    <th>DSA</th>
                    <th>Web Dev</th>
                    <th>React</th>
                </tr>
            </thead>
            <tbody>
                <% studentsStats.forEach((stats)=>{ %>
                <tr data-stats='<%= JSON.stringify(stats) %>'>
                    <td contenteditable="false"><%= stats.student.name %></td>
                    <td contenteditable="false"><%= stats.student.email %></td>
                    <td contenteditable="false"><%= stats.student.batch.year %> - <%= stats.student.batch.month %></td>
                    <td contenteditable="false"><%= stats.dsa %></td>
                    <td contenteditable="false"><%= stats.webD %></td>
                    <td contenteditable="false"><%= stats.react %></td>    
                    <td>
                        <button class="btn btn-warning btn-sm edit-btn" onclick="editRowStats(this)">Edit</button>
                        <button class="btn btn-danger btn-sm delete-btn" onclick="deleteRowStats(this)" data-stats-id="<%= stats._id %>">Delete</button>
                        <button class="btn btn-success btn-sm update-btn" onclick="updateRowStats(this)" style="display:none;" data-stats-id="<%= stats._id %>">Update</button>
                        <button class="btn btn-secondary btn-sm cancel-btn" onclick="cancelEditStats(this)" style="display:none;">Cancel</button>
                    </td>          
                </tr>
                <%})%>
            </tbody>
        </table>
    </div>
</div>

<script src="/js/course_scores.js"></script>